*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  min-height:100vh;
  background:linear-gradient(
    135deg,
    #f8fafc,
    #e2e8f0,
    #dbeafe
  );
}



.login-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:60px;
  padding:20px;
}

.login-left img{
  width:650px;
  max-width:100%;
  border-radius:20px;
}

.login-card{
  width:420px;
  padding:40px;
  border-radius:25px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(20px);
  border:1px solid rgba(255,255,255,0.2);
  box-shadow:0 8px 40px rgba(0,0,0,0.3);
}

.logo{
  color:white;
  text-align:center;
  margin-bottom:10px;
}

.subtitle{
  text-align:center;
  color:#cbd5e1;
  margin-bottom:20px;
}

.welcome{
  color:white;
  text-align:center;
  margin-bottom:20px;
}

.login-card input{
  width:100%;
  padding:14px;
  margin-bottom:15px;
  border:none;
  border-radius:10px;
  outline:none;
}

.login-card button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-size:16px;
  font-weight:bold;
  background:#3b82f6;
  color:white;
}

.login-card button:hover{
  background:#2563eb;
}

.register-text{
  text-align:center;
  margin-top:20px;
  color:white;
}

.register-text a{
  color:#60a5fa;
  text-decoration:none;
}

@media(max-width:1100px){

  .login-container{
    flex-direction:column;
  }

  .login-left img{
    width:450px;
  }
}